{% extends 'base.html' %}

{% block title %}{{ activity.activity_type }} - Health Manager{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
                <h2>{{ activity.activity_type }}</h2>
                <p class="text-muted">{{ activity.date|date:"F j, Y, g:i a" }}</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h4>Duration</h4>
                        <p>{{ activity.duration }}</p>
                    </div>
                    {% if activity.distance %}
                    <div class="col-md-6">
                        <h4>Distance</h4>
                        <p>{{ activity.distance|floatformat:2 }} {% if user.usersettings.distance_unit == 'km' %}km{% else %}mi{% endif %}</p>
                    </div>
                    {% endif %}
                </div>
                
                {% if activity.calories %}
                <div class="row mt-4">
                    <div class="col-md-6">
                        <h4>Calories Burned</h4>
                        <p>{{ activity.calories }} kcal</p>
                    </div>
                </div>
                {% endif %}

                {% if activity.average_heart_rate or activity.average_cadence %}
                <div class="row mt-4">
                    {% if activity.average_heart_rate %}
                    <div class="col-md-6">
                        <h4>Average Heart Rate</h4>
                        <p>{{ activity.average_heart_rate }} bpm</p>
                    </div>
                    {% endif %}
                    {% if activity.average_cadence %}
                    <div class="col-md-6">
                        <h4>Average Cadence</h4>
                        <p>{{ activity.average_cadence }} spm</p>
                    </div>
                    {% endif %}
                </div>
                {% endif %}
                
                <div class="row mt-4">
                    <div class="col-md-6">
                        <h4>Source</h4>
                        <p>{{ activity.source|title }}</p>
                        {% if activity.source == 'strava' %}
                        <div class="mt-2">
                            <a href="https://www.strava.com/activities/{{ activity.external_id }}" target="_blank" class="btn btn-sm btn-outline-secondary">
                                View on Strava
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                
                {% if activity.source == 'strava' %}
                <div class="row mt-4">
                    <div class="col-12">
                        <div class="mt-2">
                            <img src="/static/images/strava/api_logo_pwrdBy_strava_stack_orange.png" alt="Powered by Strava" height="30">
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %} 